
:root{
    --blueGreen : #118ab2;
    --greenblue : #06d6a0;
    --whiteSmoke: #f1faee;
    --shadowGray: rgb(204, 209, 217);
    --fontGray: #656d78;
    --FontSytem: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --FontHeadline: 'Raleway', sans-serif;
    --fontGrayW :  #31353a;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
/* ----------------------Header------------------------------------- */
.header-hero{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image:  linear-gradient(90deg, rgba(95, 95, 95, 0.2) 10%, rgba(243,246,230,0.4) 50%), url("./asset/img/bgHeader.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.nav-hero{
    width: 75%;
    height: 3rem;
    background-color: var(--whiteSmoke);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    margin-top: 3px;
    box-shadow: var(--shadowGray) 0px 4px 8px;
    
}
.ul-center{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.li-item{
    list-style: none;
    text-transform: capitalize;
    font-family: var(--FontSytem);
    font-weight: 500;
}
.li-item .linked {
    text-decoration: none ;
    color: var(--fontGray);
    letter-spacing: 2px;
}


.container{
 /* width: 100%;
 height: 100%; */
 display: flex;
 align-items: center;
 flex-direction: column;
 position: relative;
 top: 25%;
 text-transform: capitalize;
 font-size: 25px;
 font-family: var(--FontHeadline);
}
.headline-hero .name{
    letter-spacing: 3px;
    color: var(--fontGrayW);
    position: sticky;
}
.animation-subtitle{
    margin-top: 2rem;
}

.header-hero .animation-subtitle .subtitle{
    text-align: center;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
}
/* ------------------------fin header---------------------- */

/* -----------------------About-------------------------- */
.about-hero{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;


}
.about-headline{
    margin-bottom: 0.5rem ;
}
.about-headline .about-title{
    text-transform: uppercase;
    font-size: 35px;
    font-family: var(--FontHeadline);
    letter-spacing: 2px;
}
.about-container{
    padding: 2px 40px;
    background-color: var(--blueGreen);
    margin-bottom: 2rem;

}
.about-text{
 width: 70%;
 display: flex;
 justify-content: center;
 margin-bottom: 2rem;
}
.fa-quote-left{
    font-size: 50px;
    color: var(--fontGray);
}
.about-text .txt-about{
    text-align: center;
    font-size: 20px;
}
/* fin about */
/* --------------------------------start presentation */
.presentation-headline{
    display: flex;
    justify-content: center;
    width: 100%;
}
.presentation-grid{
    display: grid;
    grid: auto-flow/ 4fr 6fr;
}
.presentation-picture{
display: flex;
justify-content: flex-end;
margin-right: 40px;
 height: 500px;
 margin-top: 3rem;
 
 
}
.presentation-picture img{
    height: 400px;
    width: auto;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;

}
.presentation-profil{
    margin-top: 3rem;
    display: grid;
    grid: auto-flow/ 3.5fr 5fr;
 
}

.presentation-headline .presentation-title{
    text-transform: capitalize;
    font-family: var(--FontHeadline);
    font-size: 30px ;
    text-align: center;
    color: #a5a5a5;
}
.presentation-bar{
    padding: 2px 80px;
    margin-top: 1rem;
    background-color: var(--blueGreen);
    width: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
.presentation-part-one{
   margin-top: 4rem;
    margin-left: 20px;
    font-family: var(--FontSytem);
    font-size: 20px;
    color: var(--fontGrayW);
    

}
.presentation-part-one .birthday{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-bottom: 2rem;
}
.fa-angle-right{
    font-size: 20px;
    color: var(--greenblue);
    margin-top: 7px;
}

.presentation-part-one .phone{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-bottom: 2rem;
    
}
.presentation-part-one .adress{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-bottom: 2rem;

}
.presentation-part-one .gitHub{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-bottom: 2rem;

}
.presentation-part-one .gitHub a{
    text-decoration: none;
    color: var(--fontGrayW);
}
.presentation-part-two{
    margin-top: 4rem;
    margin-left: 20px;
    font-family: var(--FontSytem);
    font-size: 20px;
    color: var(--fontGrayW);

}
.presentation-part-two .years{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-bottom: 2rem;
}
.presentation-part-two .diplome{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-bottom: 2rem;
}
.presentation-part-two .email{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-bottom: 2rem;
}
/* ============================end participation ==================== */

/* ==============================skill============== */
.skill .skill-headline{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.skill-headline .skill-title{
    text-transform: uppercase;
    font-size: 35px;
    font-family: var(--FontHeadline);
    letter-spacing: 2px; 
    margin-top: 1rem; 
}
.skill-container{
 margin-bottom: 1rem;   
}
.skill-bar{
    padding: 2px 40px;
    background-color: var(--blueGreen);
    margin-bottom: 2rem;
    width: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    margin-top: 0.5rem;
}
.skill-across{
    font-family: var(--FontSytem);
    font-size: 20px;
    color: var(--fontGrayW);
    margin-bottom: 2rem;
}
.skill-language{
    display: grid;
    grid: auto-flow/ 5fr 5fr;
    padding: 1rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.bar-skill{
    margin-bottom: 1rem;
    width: 100%;
}
.bar-skill-center{
    margin-bottom: 1rem;
    width: 100%;

}
.bar-skill .title-bar{
    text-transform: uppercase;
    font-family: var(--FontSytem);
    letter-spacing: 1px;
    font-size: 15px;
    color: var(--fontGray);
}
.bar-skill-center .title-bar{
    text-transform: uppercase;
    font-family: var(--FontSytem);
    letter-spacing: 1px;
    font-size: 15px;
    color: var(--fontGray);
}
.hero-skill-html{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 400px;
}
.bar-progress-html{
    height: 9px;
    width: 400px;
    background-color: var(--blueGreen);
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}
.hero-skill-bootstrap{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 280px;
}
.bar-progress-bootstrap{
    height: 9px;
    width: 280px;
    background-color: var(--blueGreen);
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}
.hero-skill-css{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 320px;
}
.bar-progress-css{
    height: 9px;
    width: 320px;
    background-color: var(--blueGreen);
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}
.hero-skill-javascripte{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 280px;
}
.bar-progress-javascripte{
    height: 9px;
    width: 280px;
    background-color: var(--blueGreen);
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}
.hero-skill-php{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 320px;
}
.bar-progress-php{
    height: 9px;
    width: 320px;
    background-color: var(--blueGreen);
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}
.hero-skill-sql{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 280px;
}
.bar-progress-sql{
    height: 9px;
    width: 280px;
    background-color: var(--blueGreen);
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}
.hero-skill-sql{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 280px;
}

.hero-skill-symfony{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 200px;
}
.bar-progress-symfony{
    height: 9px;
    width: 200px;
    background-color: var(--blueGreen);
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}
/* =====================fin skill ===================== */
/* start formation  */
.resume{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);

}
.resume-bar{
    padding: 2px 40px;
    background-color: var(--blueGreen);
    margin-bottom: 2rem;
    width: 0;
    /* position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%); */
    margin-top: 0.5rem;
}
.resume-title{
    text-transform: uppercase;
    font-size: 35px;
    font-family: var(--FontHeadline);
    letter-spacing: 2px; 
    margin-top: 1rem; 
}
.container-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
}
.formation{
    grid-column: 1;
    grid-template-rows: repeat(4,1fr);
}
.formation-headline{
    position: relative;
    left: 50%;
    text-transform: uppercase;
    font-family: var(--FontSytem);
    color: var(--blueGreen);
    margin-bottom: 1.2rem;
}
.formation-bar-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0.75rem;
    margin-top: 0.3rem;
}
.formation-progress-bac{
    height: 95px;
    width: 4px;
    background-color: var(--fontGray)
}
.formation .rounded-bac{
  height: 20px;
  width: 20px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 5px solid #656d78;
}
.formation .formation-bac{
    grid-row: 1;
    position: relative;
    left: 50%; 
    display: flex;
}
.formation-row .formation-title{
    text-transform: uppercase;
    color: var(--blueGreen);
    font-family: var(--FontSytem);
}
.formation-row .formation-date{
    font-family: var(--FontSytem);
    font-style: italic;
    color: var(--fontGray);
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.formation-row .formation-adress{
    font-family: var(--FontHeadline);
    font-size: 19px;
    color: var(--fontGrayW);
    margin-bottom: 0.5rem ;
}
.city{
    margin-bottom: 0.5rem;
}
.formation .formation-dut{
    grid-row: 2;
    position: relative;
    left: 50%;
    display: flex;
}
/* .formation-bar-column{
    display: flex;
    flex-direction: column;
    align-items: center;
} */
.formation-progress-dut{
    height: 95px;
    width: 4px;
    background-color: var(--fontGray)
}

.formation .rounded-dut{
  height: 20px;
  width: 20px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 5px solid #656d78;
}
.formation .formation-svt{
    grid-row: 3;
    position: relative;
    left: 50%;
    display: flex;
}
.formation-progress-svt{
    height: 95px;
    width: 4px;
    background-color: var(--fontGray)
}
.formation .rounded-svt{
  height: 20px;
  width: 20px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 5px solid #656d78;
}
.formation .formation-dev{
    grid-row: 3;
    position: relative;
    left: 50%;
    display: flex;
}
.formation-progress-dev{
    height: 90px;
    width: 4px;
    background-color: var(--fontGray)
}
.formation .rounded-dev{
  height: 20px;
  width: 20px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 5px solid #656d78;
}
/* end formation */
/* start experience */

.experience{
    grid-column: 2;
    grid-template-rows: repeat(3,1fr);
}
.experience .experience-headline{
    text-transform: uppercase;
    font-family: var(--FontSytem);
    color: var(--blueGreen);
    margin-bottom: 1.2rem;
}

.experience-title{
    text-transform: uppercase;
    color: var(--blueGreen);
    font-family: var(--FontSytem);
}
.experience-adress{
    font-family: var(--FontHeadline);
    font-size: 19px;
    color: var(--fontGrayW);
    margin-bottom: 0.5rem ;
}
.experience-date{
    font-family: var(--FontSytem);
    font-style: italic;
    color: var(--fontGray);
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

}
.experience-item{
    font-family: var(--FontSytem);
    font-size: 20px;
    color: var(--fontGrayW);
    margin-bottom: 0.5rem;
    width: 65%;


}
.experience-rennaissance{
    grid-row: 1;
    display: flex;
}
.experience-tekmicro{
    grid-row: 1;
    display: flex;
}
.experience-association{
    grid-row: 1;
    display: flex;
}
.formation-bar-column-exp{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0.75rem;
    margin-top: 0.3rem;
    padding-left: 0.5rem;
    padding-right:0.5rem ;
  
 
}
.formation-progress-rennaissance{
    height: 170px;
    width: 4px;
    background-color: var(--fontGray)
}
.rounded-rennaissance{
  height: 20px;
  width: 20px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 5px solid #656d78;
}
.formation-progress-teckmicro{
    height: 170px;
    width: 4px;
    background-color: var(--fontGray)
}
.rounded-teckmicro{
  height: 20px;
  width: 20px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 5px solid #656d78;
}
.formation-progress-association{
    height: 170px;
    width: 4px;
    background-color: var(--fontGray)
}
.rounded-association{
  height: 20px;
  width: 20px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 5px solid #656d78;
}

